{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">



</div>
<div class="row">

    <div class="col-3 offset-8" style=" color:white; ">{% include "carrito/widget.html" %}</div>

</div>

<div class="container mt-5">
    <div class="row">
        {% for producto in productos %}

        <div class="col-sm-6 col-lg-3 "> >
            <div class="card">
                <img class="card-img-top img-card" src="{{producto.imagen.url}}" alt="Card image cap">
                <div class="card-body text-center">
                    <h7 class="card-title">{{producto.nombre}}</h7>
                    <p>{{producto.precio}} €</p>
                    <a href="carrito/agregar/{{producto.id}}" class="btn btn-success">Agregar al carrito</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


