{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="contenido_formulario ">
    {% if "valido" in request.GET  %}

        <p class="text-center" style="background:white"><b>Mensaje enviado con exito.</b></p>


    {% endif  %}
     {% if "novalido" in request.GET  %}

        <p class="text-center" style="background:white"><b>Error al enviar.</b></p>

    {% endif  %}
    <form action="" method="POST" class="formulario">
        {% csrf_token %}
        <table style="color:black; margin:20px auto">
            {{miFormulario.as_table}}
        </table>
            <input type="submit"></input>
            <input type="reset"></input>

    </form>
</div>

{% endblock %}